{% extends 'gender/base.html' %}

{% block title %}
Hindi Gender Project Contribute
{% endblock %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <a href="{% url 'index' %}" class="navbar-brand mb-0 h1">
    {% load static %}
    <img src="{% static 'gender/icon/favicon-32x32.png' %}" width="30" height="30" class="d-inline-block align-top">
    HGP
  </a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'search' %}">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'contribute' %}">Contribute</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
  </ul>
</nav>

<!-- Contribute Box -->
<div class="box container gap">
  <div class="inner-card">
    <div class="card rounded-top-grad-border">
      <div class="card-body">
        <h2 class="card-title text-center">Contribute</h2>
        <p class="card-text text-center">Enter the noun to add and enter the url where you found it</p>
        <form action="{% url 'contribute' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input name="noun" type="text" class="form-control" id="noun" placeholder="Noun">
          </div>
          <div class="form-group">
            <input name="url" type="text" class="form-control" id="url" placeholder="URL">
          </div>
          <p class="card-text text-center text-muted">{{ message }}</p>
          <div class="text-center">
            <button type="submit" class="btn btn-secondary text-center">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
