{% extends 'gender/base.html' %}

{% block title %}
Hindi Gender Project Contribution
{% endblock %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <span href="{% url 'index' %}"class="navbar-brand mb-0 h1">HGP</span>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'search' %}">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'contribute' %}">Contribute</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
  </ul>
</nav>

<!-- Contribution Results -->
<div id="login" class="container gap">
  <div id="login-card">
    <div class="card rounded-left-grad-border">
      <div class="card-body">
        <h5 class="card-title">Contribution Results:</h5>
        <p class="card-text">You submitted the word: <a class="font-weight-bold">{{ noun }}</a></p>
        <p class="card-text">From the url: <a href="url">{{ url }}<a></p>
        <p class="card-text">Number of times word found: <a class="font-weight-bold">{{ number }}</a></p>
        <p class="card-text">Word was proceceded by these markers:
          <ul>
            {% for key, value in markers.items %}
            <li>{{ key }} - {{value}} time{% if value != 1 %}s{% endif %}</li>
            {% endfor %}
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
