{% extends 'gender/base.html' %}

{% block title %}
Hindi Gender Project
{% endblock %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <a href="{% url 'index' %}" class="navbar-brand mb-0 h1">HGP</a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'search' %}">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contribute' %}">Contribute</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
  </ul>
</nav>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Hindi Gender Project</h1>
    <p class="lead">Boldly attempting to discover the gender of all Hindi nouns!</p>
    <button type="button" class="btn btn-lg btn-secondary d-none d-sm-block">Find Gender</button>
    <button type="button" class="btn btn-secondary d-block d-sm-none">Find Gender</button>
  </div>
</div>

<!-- Row 1 -->
<div class="container gap">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-venus-mars fa-lg text-primary d-md-none"></i> Why the Hindi Gender Project?</h1>
      <h5>As a Hindi learner I quickly discovered that one of the major challenges to overcome was determining the gender of nouns, because in Hindi it matters!</h5>
      <a>But as a learner sometimes it can be challenging to figure out which gender a noun is! Dictionaries don't even list the gender of nouns and many Hindi speakers may struggle to tell you the gender of a noun if you ask them outright. But the good news is there is an easy way to determine the gender of a noun in Hindi. It can be done by looking at a certain set of words that act as gender markers. These words are commonly inflecting adjectives that agree with the gender of the noun or posseive markers.</a>
      <a> </a>
    </div>
    <!-- Icon -->
    <div class="col-md-4 text-center">
      <i class="fa fa-venus-mars text-primary icon"></i>
    </div>
  </div>
</div>

<!-- Row 2 -->
<div class="container gap">
  <div class="row">
    <!-- Icon -->
    <div class="col-md-4 text-center">
      <i class="fa fa-tasks text-secondary icon"></i>
    </div>
    <div class="col-md-8">
      <h1><i class="fa fa-tasks fa-lg text-secondary d-md-none"></i> How it Works</h1>
      <h5>The Hindi Gender Project works by first building a database of gender markers. Many of these gender markers are inflecting adjectives or possesive markers.</h5>
      <a>Then we leverage that database with crowdsourcing. People like you provide information about specific nouns. If you want to know the gender of a noun and come across a website that has that noun proceceded by a gender marker all you need to do is submit the word you are searching for and a link to the website. Then the word will be added to our database for you and others to search. We realize also that in some texts a Hindi noun may be treated as feminine while somewhere else it is treated as masculine. So we give our users the option to submit more references from website links to upvote or downvote the gender.</a>
      <a> </a>
    </div>


  </div>
</div>

<footer class="text-center gap">
  <div class="container">
    <i class="fa fa-lg fa-github hover-opacity"></i>
    <i class="fa fa-lg fa-twitter hover-opacity"></i>
    <i class="fa fa-lg fa-linkedin hover-opacity"></i>
 </div>
 <a>An undertaking of <a href="http://www.HindiUnlocked.com" target="_blank">HindiUnlocked.com</a></a>
 <p>Created by <b>Jonathan Rider</b></p>
</footer>


{% endblock %}
