{% extends 'gender/base.html' %}

{% block title %}
Hindi Gender Project Register
{% endblock %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <a href="{% url 'index' %}" class="navbar-brand mb-0 h1">
    {% load static %}
    <img src="{% static 'gender/icon/favicon-32x32.png' %}" width="30" height="30" class="d-inline-block align-top">
    HGP
  </a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'search' %}">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Contribute</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
  </ul>
</nav>

<div class="box container gap">
  <div class="inner-card">
    <div class="card rounded-top-grad-border">
      <div class="card-body">
        <h2 class="card-title text-center">Register</h2>
        <p class="card-text text-center">Register to The Hindi Gender Project and contribute</p>
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input name="username" type="text" class="form-control" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input name="password" type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <input name="password-check" type="password" class="form-control" id="password" placeholder="Verify password">
          </div>
          <p class="card-text text-center text-muted">{{ message }}</p>
          <div class="text-center">
            <button type="submit" class="btn btn-secondary text-center">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
