{% extends 'gender/base.html' %}

{% block title %}
Hindi Gender Project Search
{% endblock %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">HGP</span>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'search' %}">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
  </ul>
</nav>

<!-- Search Box -->
<div id="login" class="container gap">
  <div id="login-card">
    <div class="card rounded-top-grad-border">
      <div class="card-body">
        <h2 class="card-title text-center">Search</h2>
        <p class="card-text text-center">search for a nouns gender below</p>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input name="word" type="text" class="form-control" id="word" placeholder="Word">
          </div>
          <p class="card-text text-center text-muted">{{ message }}</p>
          <div class="text-center">
            <button type="submit" class="btn btn-secondary text-center">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
