{% extends 'gender/base.html' %}

{% block title %}
Hindi Gender Project Suggest
{% endblock %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <a href="{% url 'index' %}" class="navbar-brand mb-0 h1">
    {% load static %}
    <img src="{% static 'gender/icon/favicon-32x32.png' %}" width="30" height="30" class="d-inline-block align-top">
    HGP
  </a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'search' %}">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Contribute</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
  </ul>
</nav>

<div class="box container gap">
  <div class="inner-card">
    <div class="card rounded-top-grad-border">
      <div class="card-body">
        <h2 class="card-title text-center">Thanks!</h2>
        <p class="card-text text-center">Your suggestion has been noted.</p>
        <p class="card-text text-center text-muted"><a href="{% url 'contribute' %}">Contribute another</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
