<!-- Modified From W3Schools CSS Template "Start Page Template" -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Hindi Gender Project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- http://getbootstrap.com/ -->
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- http://1000hz.github.io/bootstrap-validator/ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-pink w3-card-2 w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/search" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Find Gender</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Gender Markers</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Leaderboard</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Find Gender</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Gender Markers</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Leaderboard</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">About</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">The Hindi Gender Project</h1>
  <p class="w3-xlarge">Boldly attempting to discover the gender of all Hindi nouns!</p>
  <button class="w3-button w3-pink w3-hover-white w3-padding-large w3-large w3-margin-top">Find Gender</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Why the Hindi Gender Project?</h1>
      <h5 class="w3-padding-32">As a Hindi learner I quickly discovered that one of the major challenges to overcome was determining the gender of nouns, because in Hindi it matters!</h5>
      <p class="w3-text-grey">But as a learner sometimes it can be challenging to figure out which gender a noun is! Dictionaries don't even list the gender of nouns and many Hindi speakers may struggle to tell you the gender of a noun if you ask them outright. But the good news is there is an easy way to determine the gender of a noun in Hindi. It can be done by looking at a certain set of words that act as gender markers. These words are commonly inflecting adjectives that agree with the gender of the noun or posseive markers </p>
    </div>
    <div class="w3-third w3-center">
        <img src="gender.png" width="100%">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-tasks w3-padding-64 w3-text-blue w3-margin-right" style="font-size:220px"></i>
    </div>

    <div class="w3-twothird">
      <h1>How it Works</h1>
      <h5 class="w3-padding-32">The Hindi Gender Project works by first building a database of gender markers. Many of these gender markers are inflecting adjectives or possesive markers.</h5>

      <p class="w3-text-grey">Then we leverage that database with crowdsourcing. People like you provide information about specific nouns. If you want to know the gender of a noun and come across a website that has that noun proceceded by gender marker all you need to do is submit the word you are searching for and a link to the website. Then the word will be added to our database for you and others to seach. We realize also that in some texts a Hindi noun may be treated as feminine while somewhere else it is treated as masculine. So we give our users the option to submit more references from website links to upvote or downvote the gender.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Help us start building the Hindi Gender Project today!</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>An undertaking of <a href="http://www.HindiUnlocked.com" target="_blank">HindiUnlocked.com</a></p>
 <p>Created by <b>Jonathan Rider</b></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>