
.gap {
  margin-top: 40px;
}

.space {
  margin-top: 10px;
}

.hover-opacity:hover {
  opacity: 0.6;
}

.icon {
  font-size: 260px;
}

.point {
  cursor: pointer;
}

.rounded-top-grad-border, .rounded-left-grad-border {
  border-top: solid 6px transparent;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  border-radius: 6px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ec407a, #42a5f5);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 10px 10px 45px -31px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 45px -31px rgba(0,0,0,1);
  box-shadow: 10px 10px 45px -31px rgba(0,0,0,1);
}

.rounded-left-grad-border {
  border-top: solid 1px #fff;
  border-left: solid 6px transparent;
  background-image: linear-gradient(white, white), radial-gradient(ellipse at top left, #ec407a, #42a5f5);
}

footer {
  height: auto;
  padding-bottom: 5px;
  padding-top: 10px;
  position: relative;
  width: 100%;
  background: linear-gradient(to right, #ec407a 10%, white 40% 60%, #42a5f5 90%);
}

.results, .box {
  padding: 5% 0;
  padding-left: 40px;
  padding-right: 40px;
}

.results {
  max-width: 800px;
}

.box {
  max-width: 600px;
}

.inner-card {
  padding: 10% 0;
}

#email, #password, #password-check, #username {
    max-width: 450px;
    margin: 0 auto;
}

.circle {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: none;
  outline: none;
  margin-left: -12px;
  cursor: pointer;
}

#logo {
  width: 80px;
  height: 80px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  .display-4 {
    font-size: 2.2rem;
  }
  .lead {
    font-size: 1.4rem;
  }

  .icon {
    display: none;
  }

  #logo {
    width: 60px;
    height: 60px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  .display-4 {
    font-size: 2rem;
  }
  .lead {
    font-size: 1.2rem;
  }

  #logo {
    width: 40px;
    height: 40px;
  }
}
